{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-cond-assign": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-negated-in-lhs": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "use-isnan": 2,
    "valid-typeof": 2,

    "curly": 2,
    "dot-location": [2, "property"],
    "eqeqeq": [2, "allow-null"],
    "no-alert": 2,
    "no-caller": 2,
    "no-empty-label": 2,
    "no-empty-pattern": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 2,
    "no-implied-eval": 2,
    "no-lone-blocks": 2,
    "no-magic-numbers": [2, { "enforceConst": true, "ignore": [-1, 0, 1, 2, 10, 16] }],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-with": 2,
    "radix": 2,

    "strict": [2, "never"],

    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,

    "array-bracket-spacing": [2, "never"],
    "block-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": 2,
    "computed-property-spacing": 2,
    "eol-last": 2,
    "key-spacing": 2,
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": [2, 2],
    "new-cap": 2,
    "new-parens": 2,
    "no-array-constructor": 2,
    "no-inline-comments": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-new-object": 2,
    "no-trailing-spaces": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "one-var": [2, "never"],
    "operator-assignment": [2, "never"],
    "padded-blocks": [2, "never"],
    "quotes": [2, "double", "avoid-escape"],
    "semi": [2, "always"],
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": 2,
    "space-before-keywords": 2,
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "space-unary-ops": 2,
    "spaced-comment": 2,

    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": [2, { "before": true, "after": true }],
    "no-arrow-condition": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,

    "no-plusplus": 2
  }
}
